<!DOCTYPE html>
<html ng-app= 'TodoApp'>
  <head>
    <meta charset="utf-8">
    <title>Todos </title>
    <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>

    <center>  <img src = "Todoslogo.jpg">
    <div class="container">
      <div ng-controller="AddToDos">
        <form class="form-inline">
          <div class="form-group">
            <input type="text" id="todo" class="form-control" name="todo" ng-model = "todo" placeholder="What needs to be done?" >
          </div>
          <input type="submit" class="btn btn-info" ng-click = "save()"  value="Add" >
        </form>
      </div>


      <div ng-controller = 'ListToDos' class="table-responsive" >
      <div class="table table-bordered">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Check</th>
                <th>List</th>
                <th>Status</th>
                <th></th>
              </tr>
            </thead>
            <tbody class="table table-hover">
              <tr ng-repeat = 'contact in contacts' ng-controller = 'Checkbox'>
                <td >
                    <input style="hide:true;" type="checkbox" ng-model="selectCheck.check" ng-true-value="'Completed'" ng-false-value="'Active'" class="ng-dirty ng-touched ng-empty ng-invalid ng-invalid-parse">
                </td>
                <td>{{ contact.todo}}</td>
                <td>{{ selectCheck.check}}</td>
                <td><button class="destroy" ng-click="removeTodo(todo)"></button></td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>
      <button type="button" class="btn btn-primary btn-xs" onclick="window.location.href=window.location.href" >All</button>
      <button type="button" class="btn btn-danger btn-xs" onclick="window.location.href=window.location.href" >Active</button>
      <button type="button" class="btn btn-warning btn-xs" onclick="window.location.href=window.location.href" >Completed</button>
      <button type="button" class="btn btn-xs" onclick="window.location.href=window.location.href" >Clear All</button>

    </div>
    </center>

    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="node_modules/angular/angular.js" charset="utf-8"></script>
    <script src="app.js" charset="utf-8"></script>
  </body>
</html>
